.root {
  cursor: pointer;
  box-shadow: var(--shadow-base);
  padding: 0.15rem 2rem;
  margin: 0.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 0.75rem;

  background-color: var(--element-color);

  svg {
    margin-right: 0.5rem;
  }
}