/* reset styles */
* {
  color: inherit;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--nunito);
  background-color: var(--background-color);
  color: var(--text-color);
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
}