@mixin beutifullScrollbar {

    /* total width */
    ::-webkit-scrollbar {
      background-color: #fff;
      width: 1rem
    }
  
    /* background of the scrollbar except button or resizer */
    ::-webkit-scrollbar-track {
      background-color: #fff
    }
  
    /* scrollbar itself */
    ::-webkit-scrollbar-thumb {
      background-color: var(--neutral-300);
      border-radius: 5rem;
      border: .5rem solid #fff
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background-color: var(--neutral-500);
    }
  
    /* set button(top and bottom of the scrollbar) */
    ::-webkit-scrollbar-button {
      display: none
    }
  
  
    /* total width */
    &::-webkit-scrollbar {
      background-color: #fff;
      width: 1rem
    }
  
    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
      background-color: #fff
    }
  
    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
      background-color: var(--neutral-300);
      border-radius: 5rem;
      border: .5rem solid #fff
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--neutral-500);
    }
  
    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {
      display: none
    }
  }