@import '../../styles/breakpoints';

.root {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);

    @include md {
        padding: 2rem;
    }
}

.title {
    font-size: 1rem;
}