.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 16rem;
    background-color: var(--element-color);
    box-shadow: var(--shadow-base);
}

.flag {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 75%; /* 4:3 Aspect Ratio */
}

.property {
    padding: 0.1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.wrapper {
    padding: 1.5rem 1rem;
    padding-top: .25rem;
    font-size: 0.75rem;

    h2 {
        padding: 0.5rem 0;
        font-size: 1.25rem;
        font-weight: 800;
    }

    strong {
        font-weight: 600;
    }

    span {
        font-weight: 300;
        padding-left: 0.25rem;
    }

}